@media screen and (min-width: 991px) and (max-width: 1237px){
    .kleo-navbar-fixed .page-boxed .kleo-main-header, .kleo-navbar-fixed.navbar-transparent .page-boxed #header{
        top: 90px;
    }
    #main{
        margin-top: 90px;
    }
    #header .is-sticky .kleo-main-header{
        margin-top: 90px !important;
    }
    #kleo-main-header{
        margin-top: 90px;
    }
    #div-gpt-ad-1457985102265-0{
        z-index: 99999;
        background-color: white;
        visibility: visible !important;
    }
}