*.log
.htaccess
.idea/
ai-cache/
cache/
google7ea3d57011681e8d.html
google967cf46b386d36fc.html
robots.txt
sitemap.xml
sitemap.xml.gz
wp-config.php
dbtest.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/ewww/
wp-content/upgrade/
wp-content/uploads/
wp-content/wfcache/
wp-content/wp-cache-config.php
wp-content/plugins/wordfence/tmp/
wp-content/reports/